---
import Layout from "../layouts/Layout.astro";
import Canvas from "../components/Canvas";
---

<Layout title="_" author="ecrax" description="This is a great description" url="me.leo-kling.dev">
  <main class="w-screen h-2/3">
    <Canvas client:load />
	<!-- <Loader client:load/> -->
	<div class="p-8 flex justify-center items-center">
		<p class="text-3xl font-bold text-white">scroll down...</p>
	</div>
  </main>
</Layout>

<style>
  :root {
    background-color: #171717;
	color: white;
  }

  body {
	width: 100vw;
    height: 100vh;
  }
</style>
